<% provide(:title, "質問一覧") %>
<h1>質問一覧</h1>

<%= render 'shared/questions_search' %>

<div class="tag-box-around">
  <% @tags.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, questions_path(name: tag.id) %>
      </div>
  <% end %>
      <div class="tag-box">
        <%= link_to "全部", questions_path %>
      </div>
</div>

<ul class="questions">
  <%= render @questions %>
</ul>

<%= paginate @questions, theme: 'twitter-bootstrap-4' %>