<% provide(:title, '新規登録') %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name, 'ユーザーネーム' %>
      <%= f.text_field :name, placeholder: "ユーザーネーム(3～15文字以内)", class: 'form-control'%>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, placeholder: "メールアドレス(255文字以内)", class: 'form-control'%>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, placeholder: "パスワード(半角英数記号6～32文字以内)", class: 'form-control'%>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: 'form-control'%>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
