<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= gravatar_for @user %>
        <h1><%= @user.name %></h1>
        <p>質問数：<%= @user.questions.count %>件</p>
        <p>回答数：<%= @user.answers.count %>件</p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.questions.any? %>
      <%= render 'shared/questions_search' %>
      <h3>質問</h3>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= paginate @questions, theme: 'twitter-bootstrap-4' %>
    <% end %>
  </div>
</div>